.ion-color-orange {
    --ion-color-base: var(--ion-color-orange);
    --ion-color-base-rgb: var(--ion-color-orange-rgb);
    --ion-color-contrast: var(--ion-color-orange-contrast);
    --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
    --ion-color-shade: var(--ion-color-orange-shade);
    --ion-color-tint: var(--ion-color-orange-tint);
  }

  .ion-color-slategray {
    --ion-color-base: var(--ion-color-slategray);
    --ion-color-base-rgb: var(--ion-color-slategray-rgb);
    --ion-color-contrast: var(--ion-color-slategray-contrast);
    --ion-color-contrast-rgb: var(--ion-color-slategray-contrast-rgb);
    --ion-color-shade: var(--ion-color-slategray-shade);
    --ion-color-tint: var(--ion-color-slategray-tint);    
  }

  .ion-color-lightgoldenrod {
    --ion-color-base: var(--ion-color-lightgoldenrod);
    --ion-color-base-rgb: var(--ion-color-lightgoldenrod-rgb);
    --ion-color-contrast: var(--ion-color-lightgoldenrod-contrast);
    --ion-color-contrast-rgb: var(--ion-color-lightgoldenrod-contrast-rgb);
    --ion-color-shade: var(--ion-color-lightgoldenrod-shade);
    --ion-color-tint: var(--ion-color-lightgoldenrod-tint);
  }

  .ion-color-lightgoldenrodyellow {
    --ion-color-base: var(--ion-color-lightgoldenrodyellow);
    --ion-color-base-rgb: var(--ion-color-lightgoldenrodyellow-rgb);
    --ion-color-contrast: var(--ion-color-lightgoldenrodyellow-contrast);
    --ion-color-contrast-rgb: var(--ion-color-lightgoldenrodyellow-contrast-rgb);
    --ion-color-shade: var(--ion-color-lightgoldenrodyellow-shade);
    --ion-color-tint: var(--ion-color-lightgoldenrodyellow-tint);
  }

  .ion-color-rmutpcolor {
    --ion-color-base: var(--ion-color-rmutpcolor);
    --ion-color-base-rgb: var(--ion-color-rmutpcolor-rgb);
    --ion-color-contrast: var(--ion-color-rmutpcolor-contrast);
    --ion-color-contrast-rgb: var(--ion-color-rmutpcolor-contrast-rgb);
    --ion-color-shade: var(--ion-color-rmutpcolor-shade);
    --ion-color-tint: var(--ion-color-rmutpcolor-tint);
  }

  .ion-color-pupellight {
    --ion-color-base: var(--ion-color-pupellight);
    --ion-color-base-rgb: var(--ion-color-pupellight-rgb);
    --ion-color-contrast: var(--ion-color-pupellight-contrast);
    --ion-color-contrast-rgb: var(--ion-color-pupellight-contrast-rgb);
    --ion-color-shade: var(--ion-color-pupellight-shade);
    --ion-color-tint: var(--ion-color-pupellight-tint);
  }

  .ion-color-white {
    --ion-color-base: var(--ion-color-white);
    --ion-color-base-rgb: var(--ion-color-white-rgb);
    --ion-color-contrast: var(--ion-color-white-contrast);
    --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
    --ion-color-shade: var(--ion-color-white-shade);
    --ion-color-tint: var(--ion-color-white-tint);
  }  