.ion-color-rmutpcolor {
    --ion-color-base: var(--ion-color-rmutpcolor);
    --ion-color-base-rgb: var(--ion-color-rmutpcolor-rgb);
    --ion-color-contrast: var(--ion-color-rmutpcolor-contrast);
    --ion-color-contrast-rgb: var(--ion-color-rmutpcolor-contrast-rgb);
    --ion-color-shade: var(--ion-color-rmutpcolor-shade);
    --ion-color-tint: var(--ion-color-rmutpcolor-tint);
  }

  .full-width-field {
    width: 100%;
 }