:root {
    --ion-color-orange: #ff8d00;
    --ion-color-orange-rgb: 255,141,0;
    --ion-color-orange-contrast: #000000;
    --ion-color-orange-contrast-rgb: 0,0,0;
    --ion-color-orange-shade: #e07c00;
    --ion-color-orange-tint: #ff981a;

    --ion-color-slategray: #C6E2FF;
    --ion-color-slategray-rgb: 198,226,255;
    --ion-color-slategray-contrast: #000000;
    --ion-color-slategray-contrast-rgb: 0,0,0;
    --ion-color-slategray-shade: #aec7e0;
    --ion-color-slategray-tint: #cce5ff;

    --ion-color-lightgoldenrod: #ffec8b;
    --ion-color-lightgoldenrod-rgb: 255,236,139;
    --ion-color-lightgoldenrod-contrast: #000000;
    --ion-color-lightgoldenrod-contrast-rgb: 0,0,0;
    --ion-color-lightgoldenrod-shade: #e0d07a;
    --ion-color-lightgoldenrod-tint: #ffee97;

    --ion-color-lightgoldenrodyellow: #fafad2;
    --ion-color-lightgoldenrodyellow-rgb: 250,250,210;
    --ion-color-lightgoldenrodyellow-contrast: #000000;
    --ion-color-lightgoldenrodyellow-contrast-rgb: 0,0,0;
    --ion-color-lightgoldenrodyellow-shade: #dcdcb9;
    --ion-color-lightgoldenrodyellow-tint: #fbfbd7;

    --ion-color-rmutpcolor: #4d00ff;
    --ion-color-rmutpcolor-rgb: 77,0,255;
    --ion-color-rmutpcolor-contrast: #ffffff;
    --ion-color-rmutpcolor-contrast-rgb: 255,255,255;
    --ion-color-rmutpcolor-shade: #4400e0;
    --ion-color-rmutpcolor-tint: #5f1aff;

    --ion-color-pupellight: #d7c7fc;
    --ion-color-pupellight-rgb: 215,199,252;
    --ion-color-pupellight-contrast: #000000;
    --ion-color-pupellight-contrast-rgb: 0,0,0;
    --ion-color-pupellight-shade: #bdafde;
    --ion-color-pupellight-tint: #dbcdfc;

    --ion-color-white: #ffffff;
    --ion-color-white-rgb: 255,255,255;
    --ion-color-white-contrast: #000000;
    --ion-color-white-contrast-rgb: 0,0,0;
    --ion-color-white-shade: #e0e0e0;
    --ion-color-white-tint: #ffffff;
  }